.base-input {
  border: var(--border-standard);
  border-radius: var(--border-radius-standard);
  padding: var(--padding-tiny);
  width: auto;
  flex: 1;
  background-color: var(--yellow);
  box-shadow: .2rem .3rem var(--black);
}

.base-input:focus {
  outline: none;
}