.nav{
  background-color: transparent;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
}

.nav-logo{
    width: 6rem;
}

.nav-buttons{
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.nav-title{
    font-family: "Rock Salt", cursive;
    margin-right: 1rem;
    font-weight: 600;
    /* text-decoration: underline; */
      font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-style: italic;
    text-shadow: .1rem .1rem black;
}

.menuButton{
  border-radius: 2rem;
  border: black 2px solid;
  background-color: white;
  color: var(--black);
  padding: 0.5rem 1rem;
  box-shadow: .1rem .2rem ;
}