.timer {
  font-size: 1.75rem;
  background-color: var(--white);
  width: 12rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--black);
  border-radius: 1rem;
  border: 3px solid var(--black);
  box-shadow: 0.3rem 0.4rem var(--black);

  padding: 1rem 2rem;
}